---
const { section, title, description, price, img } = Astro.props;

let imgClass = "card__part__img";

if (img == "") {
    imgClass = "card__part__img--none";
}
---

<div class="card" data-card={section}>
    <div class="card__part card__part--1">
        <h1 class="card__part__title">{title}</h1>
        <p class="card__part__description">{description}</p>
        <p class="card__part__price">{price}</p>
    </div>
    <div class="card__part card__part--2">
        <img src={img} alt={title} class={imgClass} />
    </div>
</div>

<style lang="scss">
    .card {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: fit-content;
        border: 1px solid #000;
        border-radius: 46px;
        height: 253px;
        break-inside: avoid;
        background-color: #ffffff;
        border: 1px solid rgba(62, 31, 31, 0.42);

        &__part {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            &__title {
                width: 200px;
                font-weight: 500;
                font-size: 26px;
            }

            &__description {
                width: 200px;
                font-size: 15px;
                font-weight: 400;
            }

            &__price {
                font-size: 23.33px;
                font-weight: bold;
                border-radius: 14px;
                width: 93px;
                height: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: fit-content;
                padding: 10px;
                background-color: #f7bc56;
                color: aliceblue;
            }

            &__img {
                width: 221px;
                height: 203px;
                object-fit: cover;
                border-radius: 30px;

                &--none {
                    display: none;
                }
            }
        }
    }

    [data-card="Nachos"] {
        background-color: rgba(210, 255, 201, 0.3);

        .card__part {
            &__price {
                background-color: #8dc582;
                color: #395637;
            }
        }
    }

    [data-card="Bravas"] {
        background-color: #ffdd0038;

        .card__part {
            &__price {
                background-color: #f7bc56;
                color: #814c07;
            }
        }
    }

    [data-card="Ensaladas"] {
        background-color: rgb(123 255 138 / 40%);
        height: 150px;

        .card__part {
            &__price {
                background-color: #7ebb72;
                color: #26552d;
            }
        }
    }

    [data-card="Salchipapa"] {
        background-color: #df00002b;

        .card__part {
            &__price {
                background-color: #f75656;
                color: #6f2626;
            }
        }
    }

    [data-card="Tequeños"] {
        background-color: rgb(123 255 138 / 40%);

        .card__part {
            &__price {
                background-color: #7ebb72;
                color: #26552d;
            }
        }
    }

    [data-card="Empanadas y Pastelitos"] {
        background-color: #ff73004a;
        height: 150px;

        .card__part {
            &__price {
                background-color: #f78856;
                color: #6f2626;
            }
        }
    }

    [data-card="Platano frito"] {
        background-color: #ffdd003b;

        .card__part {
            &__price {
                background-color: #ffbe33;
                color: #6f5823;
            }
        }
    }

    [data-card="Mini Arepas Gourmet"] {
        background-color: #ffaee73b;
        height: 300px;

        .card__part {
            &__price {
                background-color: #f6b2ff;
                color: #9c539d;
            }
        }
    }

    [data-card="Patacones"] {
        background-color: #ffffffb8;
        height: fit-content;

        .card__part {
            &__price {
                background-color: #e3e3e3;
                color: #555555;
            }
        }
    }

    [data-card="Platanitos"] {
        background-color: #ffdd003b;

        .card__part {
            &__price {
                background-color: #ffbe33;
                color: #6f5823;
            }
        }
    }

    [data-card="Sopas"] {
        background-color: rgb(123 255 138 / 40%);

        .card__part {
            &__price {
                background-color: #7ebb72;
                color: #26552d;
            }
        }
    }

    [data-card="Yuka frita"] {
        background-color: rgb(123 255 138 / 40%);

        .card__part {
            &__price {
                background-color: #7ebb72;
                color: #26552d;
            }
        }
    }

    [data-card=""] {
        background-color: #fff;

        .card__part {
            &__price {
                background-color: #f7bc56;
                color: #7a5400;
            }
        }
    }

    [data-card="Creps y Gofres"] {
        background-color: #e39e7e;
        height: fit-content;

        .card__part {
            &__price {
                background-color: #ebbfa6;
                color: #7a5400;
            }
        }
    }

    [data-card="Tequeños dulces"] {
        background-color: #ff9869c7;
        height: fit-content;

        .card__part {
            &__price {
                background-color: #a1654a;
                color: #653824;
            }
        }
    }

    [data-card="Banofee"] {
        background-color: #f7bc56;
        height: fit-content;

        .card__part {
            &__price {
                background-color: #d3a647;
                color: #6b4b15;
            }
        }
    }

    @media only screen and (max-width: 480px) {
        .card {
            margin-bottom: 20px;
            width: 180px;
            height: fit-content;
            flex-direction: column;
            align-items: flex-start;

            &__part {
                width: 100px;

                &--1 {
                    gap: 10px;
                    justify-content: space-between;
                }

                &--2 {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    justify-content: center;
                }

                &__title {
                    width: 100px;
                    font-size: 20px;
                }

                &__description {
                    width: 150px;
                    font-size: 13px;
                }

                &__price {
                    font-size: 18px;
                }

                &__img {
                    margin-top: 20px;
                    width: 160px;
                    height: 100px;
                }
            }
        }
    }
</style>
