---
import Section1 from "./Section1.astro";
import Mid from "./Mid.astro";
import Restaurant from "./Restaurant.astro";
import Aside from "./Aside.astro";
import Section2 from "./Section2.astro";

import r1Img1 from "../../../assets/Restaurants/r-1/dishes/img-1.png";
import r1Img2 from "../../../assets/Restaurants/r-1/dishes/img-2.png";
import r1Img3 from "../../../assets/Restaurants/r-1/dishes/img-3.png";
import r1Img4 from "../../../assets/Restaurants/r-1/dishes/img-4.png";
import r2Img1 from "../../../assets/Restaurants/r-2/dishes/img-1.jpeg";
import r2Img2 from "../../../assets/Restaurants/r-2/dishes/img-2.jpeg";
import r2Img3 from "../../../assets/Restaurants/r-2/dishes/img-3.jpeg";
import r2Img4 from "../../../assets/Restaurants/r-2/dishes/img-4.jpeg";
import r3Img1 from "../../../assets/Restaurants/r-3/dishes/img-1.jpeg";
import r3Img2 from "../../../assets/Restaurants/r-3/dishes/img-2.jpeg";
import r3Img3 from "../../../assets/Restaurants/r-3/dishes/img-3.jpeg";
import r3Img4 from "../../../assets/Restaurants/r-3/dishes/img-4.jpeg";

import Sticker1 from "../../../assets/Restaurants/r-1/sticker-1.png";
import Sticker2 from "../../../assets/Restaurants/r-2/sticker-2.png";
import Sticker3 from "../../../assets/Restaurants/r-3/sticker-3.png";
---

<main class="main">
    <Section1 />
    <Mid />
    <div class="main__restaurant" id="r">
        <Restaurant
            title="THE CUBE "
            title2="DAY"
            src1={r1Img1}
            src2={r1Img2}
            src3={r1Img3}
            src4={r1Img4}
            w1="345"
            h1="382"
            w2="345"
            h2="477"
            background="#FF9500"
            titleColor="#fff"
            title2Color="#592D00"
            borderColor="#603B2A"
            borderRadius="26px"
            mapLink="https://maps.google.com/maps?width=600&height=400&hl=en&q=The Cube Day&t=&z=14&ie=UTF8&iwloc=B&output=embed"
            btnBG="#815943"
            btnBC="#603B2A"
            btnC="#fff"
            sticker={Sticker1.src}
            link="/thecubeday"
            bR="26"
            tags={[
                ["wifi", "WI-FI", "#fff", "#000", "#000"],
                ["utensils", "RESERVAS ONLINE", "#fff", "#000", "#000"],
                ["umbrella", "Terraza", "#fff", "#000", "#000"],
                ["leaf", "Vegetariano", "#fff", "#000", "#000"],
                ["wheat-awn", "SIN GLUTEN", "#fff", "#000", "#000"],
                ["mars-double", "LGTBIQ+", "#fff", "#000", "#000"],
                ["bag-shopping", "Para Llevar", "#fff", "#000", "#000"],
                ["truck", "Pedidos", "#fff", "#000", "#000"],
            ]}
        />
        <Restaurant
            title="THE CUBE "
            title2="FUSION"
            src1={r2Img1}
            src2={r2Img2}
            src3={r2Img3}
            src4={r2Img4}
            w1="345"
            h1="382"
            w2="345"
            h2="477"
            background="#F8DEC8"
            titleColor="#000000"
            title2Color="#AF0000"
            borderColor="#AF0000"
            borderRadius="0px"
            mapLink="https://maps.google.com/maps?width=600&height=400&hl=en&q=TheCubeFusion&t=&z=14&ie=UTF8&iwloc=B&output=embed"
            btnBG="#AF0000"
            btnBC="#000"
            btnC="#fff"
            bR="0"
            sticker={Sticker2.src}
            link="thecubefusion"
            tags={[
                ["clock", "Happy Hour", "#E21B1B", "#fff", "#fff"],
                ["wifi", "WI-FI", "#E21B1B", "#fff", "#fff"],
                ["utensils", "RESERVAS ONLINE", "#E21B1B", "#fff", "#fff"],
                ["umbrella", "Terraza", "#E21B1B", "#fff", "#fff"],
                ["leaf", "Vegetariano", "#E21B1B", "#fff", "#fff"],
                ["wheat-awn", "SIN GLUTEN", "#E21B1B", "#fff", "#fff"],
                ["mars-double", "LGTBIQ+", "#E21B1B", "#fff", "#fff"],
                ["bag-shopping", "Para Llevar", "#E21B1B", "#fff", "#fff"],
                ["truck", "Pedidos", "#E21B1B", "#fff", "#fff"],
            ]}
        />
        <Restaurant
            title="THE CUBE "
            title2="DE LA FONT"
            src1={r3Img1}
            src2={r3Img2}
            src3={r3Img3}
            src4={r3Img4}
            w1="345"
            h1="382"
            w2="345"
            h2="477"
            background="#191A1C"
            titleColor="#fff"
            title2Color="#FF9500"
            borderColor="#603B2A"
            borderRadius="26px"
            mapLink="https://maps.google.com/maps?width=600&height=400&hl=en&q=TheCubedelafont&t=&z=14&ie=UTF8&iwloc=B&output=embed"
            btnBG="#FF9500"
            btnBC="#603B2A"
            btnC="#191a1c"
            sticker={Sticker3.src}
            link="thecubedelafont"
            bR="26"
            tags={[
                ["wifi", "WI-FI", "#FFA600", "#000", "#000"],
                ["utensils", "RESERVAS ONLINE", "#FFA600", "#000", "#000"],
                ["umbrella", "Terraza", "#FFA600", "#000", "#000"],
                ["leaf", "Vegetariano", "#FFA600", "#000", "#000"],
                ["wheat-awn", "SIN GLUTEN", "#FFA600", "#000", "#000"],
                ["mars-double", "LGTBIQ+", "#FFA600", "#000", "#000"],
                ["bag-shopping", "Para Llevar", "#FFA600", "#000", "#000"],
                ["truck", "Pedidos", "#FFA600", "#000", "#000"],
            ]}
        />
    </div>
    <Aside />
    <!-- <Section2 /> -->
    <button type="button" class="main__btn" onclick="window.open(`/choose`)"
        >RESERVAR MESA</button
    >
</main>

<style lang="scss">
    .main {
        margin-top: 50px;
        z-index: -1;
        overflow-x: hidden;
        width: 100vw;

        &__btn {
            width: 100vw;
            height: 100px;
            position: absolute;
            background-color: #ffae00;
            font-family: "Bebas Neue", sans-serif;
            font-size: 65px;
            margin-top: 50px;
            color: #000;
        }
    }
</style>

<!-- Stickers -->
<script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
        const stickers = document.querySelectorAll(
            ".container__sticker-container--mobile",
        );

        if (!stickers.length) {
            console.error(
                "No se encontraron elementos con la clase .container__sticker-container--mobile",
            );
            return;
        }

        stickers.forEach((card) => {
            let newmX = 0,
                newmY = 0,
                startmX = 0,
                startmY = 0;
            let isDragging = false;

            // Agregar eventos al card
            card.addEventListener("mousedown", startDrag);
            card.addEventListener("touchstart", startDrag);

            function startDrag(e) {
                e.preventDefault();

                const isTouch = e.type === "touchstart";
                const clientX = isTouch ? e.touches[0].clientX : e.clientX;
                const clientY = isTouch ? e.touches[0].clientY : e.clientY;

                startmX = clientX;
                startmY = clientY;
                isDragging = true;

                // Eventos globales
                if (isTouch) {
                    document.addEventListener("touchmove", dragMove);
                    document.addEventListener("touchend", endDrag);
                } else {
                    document.addEventListener("mousemove", dragMove);
                    document.addEventListener("mouseup", endDrag);
                }

                card.style.cursor = "grabbing";
            }

            function dragMove(e) {
                if (!isDragging) return;

                const isTouch = e.type === "touchmove";
                const clientX = isTouch ? e.touches[0].clientX : e.clientX;
                const clientY = isTouch ? e.touches[0].clientY : e.clientY;

                // Calcular nuevas coordenadas
                newmX = clientX - startmX;
                newmY = clientY - startmY;

                startmX = clientX;
                startmY = clientY;

                let top = card.offsetTop + newmY;
                let left = card.offsetLeft + newmX;

                card.style.top = `${top}px`;
                card.style.left = `${left}px`;
            }

            function endDrag() {
                isDragging = false;

                card.style.cursor = "grab";

                document.removeEventListener("mousemove", dragMove);
                document.removeEventListener("mouseup", endDrag);
                document.removeEventListener("touchmove", dragMove);
                document.removeEventListener("touchend", endDrag);
            }
        });
    });
</script>

<!--Img Loading -->
<script is:inline>
    const imgContainerArr1 = document.querySelectorAll(
        ".section__article__part__img-container"
    );

    imgContainerArr1.forEach((container) =>{
        let loader = container.children[0];
        let img = container.children[1];

        if (img.complete){
            loader.style.display = "none";
        } else {
            img.addEventListener("load", () => {
                loader.style.display = "none";
            })
        }
    })

    const imgContainerArr2 = document.querySelectorAll(
        ".container__img-container__part__img-container"
    );

    imgContainerArr2.forEach((container) =>{
        let loader = container.children[0];
        let img = container.children[1];

        if (img.complete){
            loader.style.display = "none";
        } else {
            img.addEventListener("load", () => {
                loader.style.display = "none";
            })
        }
    })

    const mapContainerArr = document.querySelectorAll(
        ".container__map-container--mobile"
    );

    console.log(mapContainerArr)

    mapContainerArr.forEach((container) =>{
        let loader = container.children[0];
        let map = container.children[1];


        if (map.complete){
            loader.style.display = "none";
        } else {
            map.addEventListener("load", () => {
                loader.style.display = "none";
            })
        }
    })
</script>
