---
interface Props {
    title: string;
    title2: string;
    src1: ImageMetadata;
    src2: ImageMetadata;
    src3: ImageMetadata;
    src4: ImageMetadata;
    w1: string;
    h1: string;
    w2: string;
    h2: string;
    mapLink: string;
    background: string;
    titleColor: string;
    title2Color: string;
    borderColor: string;
    borderRadius: string;
    btnBC: string;
    btnC: string;
    btnBG: string;
    sticker: string;
    link: string;
    bR: string;
    tags: string[][];
}

const {
    title,
    title2,
    src1,
    src2,
    src3,
    src4,
    w1,
    h1,
    w2,
    h2,
    mapLink,
    background,
    titleColor,
    title2Color,
    borderColor,
    borderRadius,
    btnBC,
    btnC,
    btnBG,
    sticker,
    link,
    bR,
    tags,
} = Astro.props as Props;

import { Image } from "astro:assets";
import Tags from "../../Restaurants/Tags.astro";
import ImgLoader from "../../Loaders/ImgLoader.astro";
---

<div class="container" style=`background-color: ${background}`>
    <div
        class="container__sticker-container container__sticker-container--mobile"
    >
        <img
            src={sticker}
            class="container__sticker-container__sticker"
            alt=`THE CUBE ${title2}`
        />
    </div>
    <h1 class="container__title" style=`color: ${titleColor}`>
        {title}
        <span class="container__title--color" style=`color: ${title2Color}`
            >{title2}</span
        >
    </h1>
    <div class="container__marquee-container">
        <marquee class="container__marquee-container__marquee" scrollamount="7">
            <div class="container__marquee-container__marquee__content">
                {
                    tags.map((tag) => (
                        <Tags
                            icon={tag[0]}
                            txt={tag[1]}
                            bG={tag[2]}
                            iC={tag[3]}
                            tC={tag[4]}
                        />
                    ))
                }
            </div>
        </marquee>
    </div>
    <div class="container__img-container">
        <div class="container__img-container__part">
            <div class="container__img-container__part__img-container">
                <ImgLoader />
                <Image
                    src={src1}
                    alt="TheCubeDay"
                    aria-hidden="true"
                    loading={"lazy"}
                    height={151}
                    quality={"high"}
                    decoding={"async"}
                    format="avif"
                    class="container__img-container__part__img-container__img"
                    style={`border-radius: ${bR}px`}
                />
            </div>
            <div class="container__img-container__part__img-container">
                <ImgLoader />
                <Image
                src={src2}
                alt="TheCubeDay"
                aria-hidden="true"
                loading={"lazy"}
                height={293}
                quality={"high"}
                decoding={"async"}
                format="avif"
                class="container__img-container__part__img-container__img"
                style={`border-radius: ${bR}px`}
            />
            </div>
        </div>
        <div class="container__img-container__part">
            <div class="container__img-container__part__img-container">
                <ImgLoader />
                <Image
                    src={src3}
                    alt="TheCubeDay"
                    aria-hidden="true"
                    loading={"lazy"}
                    height={277}
                    quality={"high"}
                    decoding={"async"}
                    format="avif"
                    class="container__img-container__part__img-container__img"
                    style={`border-radius: ${bR}px`}
                />
            </div>
            <div class="container__img-container__part__img-container">
                <ImgLoader />
                <Image
                    src={src4}
                    alt="TheCubeDay"
                    aria-hidden="true"
                    loading={"lazy"}
                    height={164}
                    quality={"high"}
                    decoding={"async"}
                    format="avif"
                    class="container__img-container__part__img-container__img"
                    style={`border-radius: ${bR}px`}
                />
            </div>
        </div>
        <!-- <img
            src={src1.src}
            class="container__img-container__img container__img-container__img--1"
            width={w1}
            height={h1}
            style=`border-radius: ${borderRadius}; border: 5px solid ${borderColor}`
        />
        <img
            src={src2.src}
            class="container__img-container__img container__img-container__img--2"
            width={w2}
            height={h2}
            style=`border-radius: ${borderRadius}; border: 5px solid ${borderColor}`
        /> -->
    </div>
    <div class="container__map-container container__map-container--mobile">
        <ImgLoader />
        <iframe
            class="container__map-container__map"
            style=`border-top: 5px solid ${borderColor}; border-bottom: 5px solid ${borderColor};`
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            src={mapLink}></iframe>
        <!-- <img src="https://staticmapmaker.com/img/google-placeholder.png" alt="" class="container__map-container__img"> -->
    </div>
    <a href={link}
        ><button
            type="button"
            class="container__btn"
            style=`background-color: ${btnBG}; border-top: 12px solid ${btnBC}; border-bottom: 12px solid ${btnBC}; color: ${btnC}`
            >RESERVAR MESA</button
        ></a
    >
</div>

<style lang="scss">
    .container {
        width: 100vw;
        position: relative;

        &__sticker-container {
            position: absolute;
            right: 10px;
            top: 140px;
            z-index: 2;
            width: 150px;
            height: 150px;

            &__sticker {
                width: 150px;
                height: 150px;
                position: relative;
                transition: all 0.5s;
                transform: translateZ(0);
                -webkit-filter: drop-shadow(7px 4px 1px rgba(0, 0, 0, 0.75));
                filter: drop-shadow(7px 4px 1px rgba(0, 0, 0, 0.75));
            }
        }

        &__title {
            padding-top: 20px;
            font-family: "Bebas Neue", sans-serif;
            font-size: 110px;
            line-height: 100px;
            text-align: center;
        }

        &__marquee-container {
            width: 100vw;
            margin-top: 30px;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;

            &__marquee {
                width: 354px;

                &__content {
                    gap: 10px;
                    display: flex;
                }
            }
        }

        &__img-container {
            display: flex;
            height: fit-content;
            justify-content: center;
            gap: 10px;
            margin-bottom: 40px;

            // &__img {
            //     object-fit: cover;

            //     &--1 {
            //         transform: translateX(-150px);
            //     }

            //     &--2 {
            //         transform: translateX(-100px) translateY(-100px);
            //     }
            // }

            &__part {
                display: flex;
                flex-direction: column;
                gap: 10px;

                &__img-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &__img {
                        width: 177px;
                        object-fit: cover;
                        border: 6px solid #000;
                    }
                }
            }
        }

        &__map-container {
            width: 100%;
            height: 293px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;

            &__map {
                width: 110%;
                height: 100%;
            }
        }

        &__btn {
            width: 100vw;
            font-family: "Bebas Neue";
            font-size: 63.41px;
        }
    }
</style>